html {
  font-weight: bold;
  text-align: center;
  background: purple;
  padding: 15px;

}

body {
  background: deeppink;
  max-width: 900px;
  border: outset 14px silver;
  margin: auto;
}

header {
  font-family: 'Lobster Two', cursive, 'Arial', sans-serif;
  font-size: 3em;
  background: magenta;
  text-shadow: 1px 1px 5px white, 0 0 1em indigo, 0 0 0.2em blue;
   color: black;
}

footer {
  background: magenta;
  line-height: 2em;
}

a {
  text-decoration: none;
  color: thistle;
  font-weight: bold;
}

#start-button {
  display: inline-block;
  padding: 15px 25px;
  width: 200px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: darkred;
  border: outset 9px;
  border-radius: 50px;
}

#start-button:hover {
  background-color: red;
}

#start-button:active {
  background-color: red;
  box-shadow: 2px 2px gray;
  transform: translateY(4px);
}


#cards-display {
  margin: auto;
  padding-left: 4px;

}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.single-card-div {
  width: 200px;
  background-image: url("../images/card-reverse.jpg");
  background-size: 100%;
  background-position: center;
  float: left;
  border: 10px outset white;
  position: relative;
  line-height: 100px;
  }

.single-card-div img {
  width: 200px;
  height: 130px;
  opacity: 0;
  vertical-align: middle;
 }

#game-container {
  /*background: silver;*/
}
