html {
  /*font-size: 10px;*/
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: bold;
  text-align: center;
}

body {
  background: purple;
  max-width: 1000px;
  border: outset 14px silver;
  margin: auto;
}

header {
  background: magenta;
}

footer {
  background: magenta;
  line-height: 4em;
}

/*p {
  color: white;
}*/

#cards-display {
  margin: auto;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.single-card-div {
  width: 220px;
  background-image: url("../images/card-reverse.jpg");
  background-size: 100%;
  background-position: center;
  float: left;
  border: 14px outset white;
  position: relative;
  line-height: 140px;
  }

.single-card-div img {
  width: 220px;
  height: 140px;
  opacity: 0;
  vertical-align: middle;
 }

#game-container {
  /*background: silver;*/
}
